accelerate
black
git+https://github.com/desy-ml/cheetah.git
flake8
gym
gymnasium
icecream
isort
jupyter
langchain==0.1.6
loguru
matplotlib
numpy
git+https://github.com/jank324/ocelot.git
openai
opencv-python
peft
python-dotenv
SciencePlots
seaborn
sentencepiece
stable_baselines3==2.2.1
tqdm
transformers>=4.35
wandb
xopt==2.0.0
